.car {
  width: 308px;
  border: 1px solid goldenrod;
  border-radius: 8px;
}
.car img {
  width: 286px;
  height: 186px;
  border-radius: 20px;
  padding: 10px;
}
.car-info {
  padding-left: 15px;
}

.add-cart-btn {
  width: 100%;
  border: none;
}
.add-cart-btn:hover {
  background-color: orangered;
  color: whitesmoke;
}
